
.nav_bar_wrapper a{
    padding-left: 30px;
    font-size: large;
    color: aliceblue;
   text-decoration: none; 
}

.App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color:skyblue;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
  .auth_main{
    margin-left: 800px;
  }
  .mylink{
    margin-top: 70px;
    color: deepskyblue;
    font-size: large;
    text-decoration: none;

  }
  .forget{
   color: orchid;
   text-decoration: none;
  }
  .Auth-form-container{
    background-color: azure;
  }
.submit{
  padding-left:150px;
  padding-right: 150px;

}
.accounts{
  margin-top:400px;
margin-left:100px;
}
.Account_navigation{
  margin-left:800px
}
.submit{
background-color: blanchedalmond;
}